@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-2 py-1 border-2 border-blue-500 rounded-lg bg-blue-400 text-white hover:bg-blue-500;
  }

  .btn-del {
    @apply px-2  border-2 border-red-500 rounded-lg bg-red-400 text-white hover:bg-red-500;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
